# WEEK 4 Exercises - Making Queries

![ERD-E-COMMERCE](./images/ERD-week4-exercise.png)

## Instruction

1. สร้าง `virtual environment`
2. ติดตั้ง `django` และ `psycopg2` libraries
3. สร้างโปรเจคใหม่ใหม่ชื่อ`myshop`
4. จากนั้นให้ทำการ startapp ใหม่ชื่อ `shop`
5. สร้าง database ชื่อ `shop` ใน Postgres DB
6. ทำการเพิ่ม code ด้านล่างนี้ในไฟล์ `shop/models.py`
7. เพิ่ม **'shop'** ใน `settings.py`
8. ทำการ `makemigrations` และ `migrate`


```python
from django.db import models

# Create your models here.
class Customer(models.Model):
    first_name = models.CharField(max_length=150)
    last_name = models.CharField(max_length=200)
    email = models.CharField(max_length=150)
    address = models.JSONField(null=True)

class ProductCategory(models.Model):
    name = models.CharField(max_length=150)

class Product(models.Model):
    name = models.CharField(max_length=150)
    description = models.TextField(null=True, blank=True)
    remaining_amount = models.PositiveIntegerField(default=0)
    price = models.DecimalField(max_digits=10, decimal_places=2)
    categories = models.ManyToManyField(ProductCategory)

class Cart(models.Model):
    customer = models.ForeignKey(Customer, on_delete=models.CASCADE)
    create_date = models.DateTimeField()
    expired_in = models.PositiveIntegerField(default=60)
    
class CartItem(models.Model):
    cart = models.ForeignKey(Cart, on_delete=models.CASCADE)
    product = models.ForeignKey(Product, on_delete=models.CASCADE)
    amount = models.PositiveIntegerField(default=1)
    
class Order(models.Model):
    customer = models.ForeignKey(Customer, on_delete=models.CASCADE)
    order_date = models.DateField()
    remark = models.TextField(null=True, blank=True)

class OrderItem(models.Model):
    order = models.ForeignKey(Order, on_delete=models.CASCADE)
    product = models.ForeignKey(Product, on_delete=models.CASCADE)
    amount = models.PositiveIntegerField(default=1)
    
class Payment(models.Model):
    order = models.OneToOneField(Order, on_delete=models.PROTECT)
    payment_date = models.DateField()
    remark = models.TextField(null=True, blank=True)
    price = models.DecimalField(max_digits=10, decimal_places=2)
    discount = models.DecimalField(max_digits=10, decimal_places=2, default=0)

class PaymentItem(models.Model):
    payment = models.ForeignKey(Payment, on_delete=models.CASCADE)
    order_item = models.OneToOneField(OrderItem, on_delete=models.CASCADE)
    price = models.DecimalField(max_digits=10, decimal_places=2)
    discount = models.DecimalField(max_digits=10, decimal_places=2, default=0)
    
class PaymentMethod(models.Model):
    class MethodChoices(models.Choices):
        QR = "QR"
        CREDIT = "CREDIT"
    
    payment = models.ForeignKey(Payment, on_delete=models.CASCADE)
    method = models.CharField(max_length=15, choices=MethodChoices.choices)
    price = models.DecimalField(max_digits=10, decimal_places=2)
```

**จากนั้นให้ทำการ migrate และ run คำสั่งในไฟล์ `shop.sql` ใน PgAdmin4**

In [9]:
import os
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

### 1. ให้นักศึกษา Query ค้นหาข้อมูลมาแสดงให้ถูกต้องตามโจทย์

1.1 query หาข้อมูล `Order` ทั้งหมดที่เกิดขึ้นในเดือน `พฤษภาคม` มาแสดงผล 10 รายการแรก และแสดงผลดังตัวอย่าง (0.25 คะแนน)

```txt
ORDER ID:22, DATE: 2024-05-01, 
ORDER ID:23, DATE: 2024-05-01, 
ORDER ID:24, DATE: 2024-05-01, 
ORDER ID:25, DATE: 2024-05-02, 
ORDER ID:26, DATE: 2024-05-02, 
ORDER ID:27, DATE: 2024-05-02, 
ORDER ID:28, DATE: 2024-05-03, 
ORDER ID:29, DATE: 2024-05-03, 
ORDER ID:30, DATE: 2024-05-03, 
ORDER ID:31, DATE: 2024-05-04, 
```

In [10]:
import shop.models
import datetime

In [13]:
for o in (Order.objects.filter(order_date__month=5)[:10]):
    print(f"ORDER ID:{o.id}, DATE: {o.order_date},")

ORDER ID:22, DATE: 2024-05-01,
ORDER ID:23, DATE: 2024-05-01,
ORDER ID:24, DATE: 2024-05-01,
ORDER ID:25, DATE: 2024-05-02,
ORDER ID:26, DATE: 2024-05-02,
ORDER ID:27, DATE: 2024-05-02,
ORDER ID:28, DATE: 2024-05-03,
ORDER ID:29, DATE: 2024-05-03,
ORDER ID:30, DATE: 2024-05-03,
ORDER ID:31, DATE: 2024-05-04,

1.2 query หาข้อมูล `Order` ที่มีการซื้อสินค้าชื่อ "Dog Bed" (ดูที่รายการ `OrderItem`) และแสดงผลดังตัวอย่าง (0.25 คะแนน)

```txt
# ตัวอย่างบางส่วน
ORDER ID: 8, ORDER_DATE: 2024-04-26, CUSTOMER: Suwichada Jarastham, REMARK: None
```

In [65]:
for o in Order.objects.filter(orderitem__product__name="Dog Bed"):
#     c = Customer.objects.get(id = o.customer_id)
    print(f"ORDER ID:{o.id}, DATE: {o.order_date}, CUSTOMER: {o.customer.first_name} {o.customer.last_name}, REMARK: {o.remark}")

ORDER ID:8, DATE: 2024-04-26, CUSTOMER: Suwichada Jarastham, REMARK: None
ORDER ID:16, DATE: 2024-04-29, CUSTOMER: Trinnapon Yinggnam, REMARK: None
ORDER ID:23, DATE: 2024-05-01, CUSTOMER: Warit Pititat, REMARK: None
ORDER ID:36, DATE: 2024-05-05, CUSTOMER: Manit Senapan, REMARK: None
ORDER ID:63, DATE: 2024-05-14, CUSTOMER: Dejwit Tangjareonsakul, REMARK: None
ORDER ID:79, DATE: 2024-05-20, CUSTOMER: Techathorn Sriwanwilai, REMARK: None
ORDER ID:151, DATE: 2024-06-13, CUSTOMER: Thitirat Sukkesorn, REMARK: None

1.3 query หาข้อมูล `Product` ที่มีราคาสินค้าตั้งแต่ `5000.00` ขึ้นไป และอยู่ในหมวดหมู่ `Information Technology` และแสดงผลดังตัวอย่าง (0.25 คะแนน)

```txt
# ตัวอย่างบางส่วน 
PRODUCT ID: 1, NAME: Smartphone, PRICE: 5900.00
```

In [25]:
for p in Product.objects.filter(price__gte=5000, categories__name="Information Technology"):
    print(f"PRODUCT ID: {p.id}, NAME: {p.name}, PRICE: {p.price}")

PRODUCT ID: 1, NAME: Smartphone, PRICE: 5900.00
PRODUCT ID: 2, NAME: Laptop, PRICE: 25999.00
PRODUCT ID: 3, NAME: Smart TV, PRICE: 8900.00
PRODUCT ID: 5, NAME: Tablet, PRICE: 12900.00
PRODUCT ID: 6, NAME: Gaming Console, PRICE: 5000.00
PRODUCT ID: 7, NAME: Digital Camera, PRICE: 32000.00

1.4 query หาข้อมูล `Product` ที่มีราคาสินค้าน้อยกว่า `200.00` และมากกว่า `100.00` และแสดงผลดังตัวอย่าง (0.25 คะแนน)

```txt
PRODUCT ID: 28, NAME: Women's Sweater, PRICE: 190.00
PRODUCT ID: 66, NAME: Salvage the Bones, PRICE: 129.00
```

In [41]:
for p in Product.objects.filter(price__lt=200, price__gt=100):
    print(f"PRODUCT ID: {p.id}, NAME: {p.name}, PRICE: {p.price}")

PRODUCT ID: 28, NAME: Women's Sweater, PRICE: 190.00
PRODUCT ID: 66, NAME: Salvage the Bones, PRICE: 129.00

1.5 query หาข้อมูล `Product` ในหมวดหมู่ `Electronics` หรือ `Toys and Games` ที่มีราคามากกว่าหรือเท่ากับ 10,000 หรือมีจำนวนคงเหลือน้อยกว่าหรือเท่ากับ 10 และแสดงผลดังตัวอย่าง (0.25 คะแนน)

```txt
# ตัวอย่างบางส่วน 
PRODUCT ID: 2,	PRICE: 25999.00, REMAINING: 19, CATEGORIES: Information Technology, Electronics
PRODUCT ID: 3,	PRICE: 8900.00, REMAINING: 10, CATEGORIES: Information Technology, Electronics
PRODUCT ID: 6,	PRICE: 5000.00, REMAINING: 10, CATEGORIES: Information Technology, Electronics
PRODUCT ID: 7,	PRICE: 32000.00, REMAINING: 4, CATEGORIES: Information Technology, Electronics
PRODUCT ID: 8,	PRICE: 990.00, REMAINING: 0, CATEGORIES: Information Technology, Electronics
PRODUCT ID: 8,	PRICE: 990.00, REMAINING: 0, CATEGORIES: Information Technology, Electronics
```

In [27]:
from django.db.models import Q

In [45]:
for p in Product.objects.filter(Q(price__gte=10000) | Q(remaining_amount__lte=10)):
    print(f"PRODUCT ID: {p.id}, PRICE: {p.price}, REMAINING: {p.remaining_amount}")

PRODUCT ID: 2, PRICE: 25999.00, REMAINING: 19
PRODUCT ID: 3, PRICE: 8900.00, REMAINING: 10
PRODUCT ID: 5, PRICE: 12900.00, REMAINING: 22
PRODUCT ID: 6, PRICE: 5000.00, REMAINING: 10
PRODUCT ID: 7, PRICE: 32000.00, REMAINING: 4
PRODUCT ID: 8, PRICE: 990.00, REMAINING: 0
PRODUCT ID: 14, PRICE: 18900.00, REMAINING: 30
PRODUCT ID: 28, PRICE: 190.00, REMAINING: 5
PRODUCT ID: 33, PRICE: 3190.00, REMAINING: 5
PRODUCT ID: 34, PRICE: 2400.00, REMAINING: 7
PRODUCT ID: 50, PRICE: 500.00, REMAINING: 10
PRODUCT ID: 59, PRICE: 700.00, REMAINING: 0
PRODUCT ID: 61, PRICE: 320000.00, REMAINING: 10
PRODUCT ID: 62, PRICE: 70000.00, REMAINING: 15
PRODUCT ID: 63, PRICE: 59000.00, REMAINING: 12
PRODUCT ID: 65, PRICE: 1200000.00, REMAINING: 2
PRODUCT ID: 66, PRICE: 129.00, REMAINING: 0

1.6 query หาข้อมูล Product โดยมีเงื่อนไขดังนี้: (0.25 คะแนน)

- ชื่อสินค้ามีคำว่า `Smart` หรือ `Electric`
- รายละเอียดสินค้า ไม่มีคำว่า `compact` หรือ `portable`
- รายละเอียดสินค้ามีชื่อสินค้า

และแสดงผลดังตัวอย่าง
```txt
PRODUCT ID: 1, NAME: Smartphone, DESCRIPTION: A sleek and powerful smartphone with advanced features. 
PRODUCT ID: 10, NAME: Smartwatch, DESCRIPTION: A stylish smartwatch with health monitoring and notification features. 
PRODUCT ID: 16, NAME: Electric Kettle, DESCRIPTION: Fast-boiling electric kettle with auto shut-off feature. 
PRODUCT ID: 18, NAME: Electric Fan, DESCRIPTION: Oscillating electric fan for cooling rooms. 
```

In [66]:
products = Product.objects.filter(
    Q(name__icontains="Smart") | Q(name__icontains="Electric")
).exclude(
    Q(description__icontains="compact") | Q(description__icontains="portable")
).filter(description__icontains=F("name"))
for p in products:
    print(f"PRODUCT ID: {p.id}, NAME: {p.name}, DESCRIPTION: {p.description}")

PRODUCT ID: 1, NAME: Smartphone, DESCRIPTION: A sleek and powerful smartphone with advanced features.
PRODUCT ID: 10, NAME: Smartwatch, DESCRIPTION: A stylish smartwatch with health monitoring and notification features.
PRODUCT ID: 16, NAME: Electric Kettle, DESCRIPTION: Fast-boiling electric kettle with auto shut-off feature.
PRODUCT ID: 18, NAME: Electric Fan, DESCRIPTION: Oscillating electric fan for cooling rooms.

### 2. เพิ่ม ลบ แก้ไข สินค้า

2.1 ให้เพิ่มสินค้าใหม่จำนวน 3 รายการ (0.1 คะแนน)

```txt
สินค้าที่ 1
ชื่อ: Philosopher's Stone (1997)
หมวดหมู่สินค้า: Books and Media
จำนวนคงเหลือ: 20
รายละเอียดซ: By J. K. Rowling.
ราคา: 790

สินค้าที่ 2
ชื่อ: Me Before You
หมวดหมู่สินค้า: Books and Media
จำนวนคงเหลือ: 40
รายละเอียดซ: A romance novel written by Jojo
ราคา: 390

สินค้าที่ 3
ชื่อ: Notebook HP Pavilion Silver
หมวดหมู่สินค้า: Information Technology และ Electronics
จำนวนคงเหลือ: 10
รายละเอียดซ: Display Screen. 16.0
ราคา: 20000
```

In [50]:
c1 = ProductCategory.objects.get(name="Books and Media")
p1 = Product.objects.create(name="Philosopher's Stone (1997)", remaining_amount=20, description = "By J. K. Rowling.", price = 790)
p2 = Product.objects.create(name="Me Before You", remaining_amount=40, description = "A romance novel written by Jojo", price = 390)
c2 = ProductCategory.objects.get(name="Information Technology")
c3 = ProductCategory.objects.get(name="Electronics")
p3 = Product.objects.create(name="Notebook HP Pavilion Silver", remaining_amount=10, description="Display Screen. 16.0", price = 20000)

In [51]:
p1.categories.add(c1)
p2.categories.add(c1)
p3.categories.add(c2, c3)

In [62]:
p1.save()
p2.save()
p3.save()

2.2 แก้ไขชื่อสินค้า จาก `Philosopher's Stone (1997)` เป็น `Half-Blood Prince (2005)` (0.1 คะแนน)

In [52]:
p1.name = "Half-Blood Prince (2005)"
p1.save()

2.3 แก้ไขชื่อหมวดหมู่สินค้า จาก `Books and Media` เป็น `Books` (0.1 คะแนน)

In [60]:
c1.name = "Books"

In [61]:
c1.save()

2.4 ลบสินค้าทุกตัวที่อยู่ในหมวดหมู่ `Books` (0.2 คะแนน)

In [64]:
Product.objects.filter(categories__name="Books").delete()

(4, {'shop.Product_categories': 2, 'shop.Product': 2})